body {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.main-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
  }
  
  .timer {
    font-weight: 500;
    font-size: 168px;
    line-height: 168px;
  }
  .timer-content {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
  }

  .memo-wrapper {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .memo {
    font-size: 30px;
  }

  .modal-button {
    background: url("./images/001-cloud.png");
    background-size: cover;
    width:100px;
    height:100px;
  
    /* position fixed를 통해 우상단에 고정*/
    position: fixed;
    top:40px;
    right:40px;
  }

  .weather-img {
    width: 60px;
    height: 60px;
  }

  .input-text {
    border: 0px;
    border-radius: 5px;
    opacity: 80%;
  }

  .input-text:hover{
    opacity: 100%;
  }

.modal-button:hover{
  opacity: 85%;
}

.card:hover{
  border: 2px solid white;
}